/* .App{
     background-image: url("../assets/deniz.JPG");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     width:100%;
     height:auto;
     padding:50px;
} */

  
  

  