.weather-datas-card{
    background-color: rgba(0,0,0,0.1);
    border-radius: 15px !important;
    cursor:pointer;
    .text-center{
        color:white;
    }
    z-index:2;
}
 .developed-by{
    z-index:2;
}
